
.header h1 {
  font-size: 2rem;
  font-weight: 600;
  color: #111827;
}


.sections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
  height: 80%;
}

.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 2rem;
  height: 100%;
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.05),
    0 4px 6px -2px rgba(0, 0, 0, 0.03);
}


.card h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.description {
  color: #6b7280;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.primary-btn {
  background: #111827;
  color: white;
  border: none;
  padding: 0.7rem 1.4rem;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

.primary-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.secondary-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


.secondary-btn {
  margin-top: 0.2rem;
  background: #e5e7eb;
  color: #111827;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
}

input[type="file"] {
  display: block;
  margin-bottom: 1rem;
  border-radius: 6px;
  border: 1px dashed #000000;
  padding: 0.5rem;
}

