<p-toast/>
<div class="flex justify-between mb-6">
  <button
    class="px-4 py-2 rounded bg-gray-200"
    (click)="goToPreviousStep()">
    Previous
  </button>


  <button
       class="px-4 py-2 rounded bg-emerald-500 text-white"
       (click)="goToNextStep()">
      
      @if (currentStep !== 3) {
          next
        } 
      @else { 
          @if (!isLoading) { 
                save
            } 
          @else { 
              <ng-container>
                   <div class="spinner mr-2"></div>
               </ng-container>
            } 
        }

   </button>
</div>

@switch (currentStep) {

  <!-- STEP 2 -->
  @case (2) {
    <div class="space-y-8">

      <!-- Current Diploma -->
      <div>
        <h3 class="font-semibold mb-3">Current Diploma</h3>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

          <p-select
            [options]="excludeBacLevels(levels)"
            placeholder="Level"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="academicProfile.currentDiploma.studyLevel">
          </p-select>

          <p-select
            [options]="universities"
            optionLabel="label"
            optionValue="value"
            placeholder="University"
            [(ngModel)]="academicProfile.currentDiploma.university">
          </p-select>

          <p-select
            [options]="schools"
            optionLabel="label"
            optionValue="value"
            placeholder="School"
            [(ngModel)]="academicProfile.currentDiploma.school">
          </p-select>

          <p-select
            [options]="getNonBacFieldsOfStudy(fieldsOfStudy)"
            optionLabel="label"
            optionValue="value"
            placeholder="Field of Study"
            [(ngModel)]="academicProfile.currentDiploma.studyField">
          </p-select>

          <input pInputText placeholder="Diploma Title"
                 [(ngModel)]="academicProfile.currentDiploma.title" />

          <!-- 
          <p-inputNumber placeholder="Grade"
                         [(ngModel)]="academicProfile.currentDiploma.grade">
          </p-inputNumber> 
          -->
        </div>
      </div>

      <!-- Obtained Diplomas -->
      <div>
        <h3 class="font-semibold mb-3">Obtained Diplomas</h3>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
          
          <p-select
            [options]="levels" 
            placeholder="Level"
            optionLabel="label"
            optionValue="value"
            [(ngModel)]="diplomaForm.studyLevel">
          </p-select>

          @if(diplomaForm.studyLevel === 'BAC') {
            <p-select
              [options]="getBacOptions(fieldsOfStudy)"
              optionLabel="label"
              optionValue="value"
              placeholder="Field of Study"
              [(ngModel)]="diplomaForm.studyField">
            </p-select>

            <input pInputText placeholder="School"
                 [(ngModel)]="diplomaForm.school" />
          } 
          @else {
            <p-select
              [options]="universities"
              optionLabel="label"
              optionValue="value"
              placeholder="University"
              [(ngModel)]="diplomaForm.university">
            </p-select>

            <p-select
            [options]="getNonBacFieldsOfStudy(fieldsOfStudy)"
            optionLabel="label"
            optionValue="value"
            placeholder="Field of Study"
            [(ngModel)]="diplomaForm.studyField">
          </p-select>

          <p-select
            [options]="schools"
            optionLabel="label"
            optionValue="value"
            placeholder="School"
            [(ngModel)]="diplomaForm.school">
          </p-select>

          <input pInputText placeholder="Title"
                 [(ngModel)]="diplomaForm.title" />
          }

          <p-inputNumber mode="decimal" [useGrouping]="false" placeholder="Year"
                         [(ngModel)]="diplomaForm.year">
          </p-inputNumber>

          <p-inputNumber mode="decimal" [useGrouping]="false" [max]="20.00" [min]="0.00" placeholder="Grade"
                         [(ngModel)]="diplomaForm.grade">
          </p-inputNumber>
        </div>

        <button
          class="px-4 py-2 bg-blue-500 text-white rounded"
          (click)="addDiploma()">
          Add Diploma
        </button>

        <p-table
          class="mt-4"
          [value]="academicProfile.diplomas">

          <ng-template pTemplate="header">
            <tr>
              <th>University</th>
              <th>Level</th>
              <th>Title</th>
              <th></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-d let-i="rowIndex">
            <tr>
              <td>{{ d.studyLevel === 'BAC' ? '-' : d.university }}</td>
              <td>{{ d.studyLevel }}</td>
              <td>{{ d.studyLevel === 'BAC' ? '-' : d.title }}</td>
              <td>
                <button
                  class="text-red-500"
                  (click)="removeDiploma(i)">
                  Remove
                </button>
              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>
    </div>
  }

  <!-- STEP 3 -->
  @case (3) {
    <div class="space-y-6">
      <h3 class="font-semibold">Additional Academic Information</h3>

      <p-select
        [options]="genderOptions"
        optionLabel="label"
        optionValue="value"
        placeholder="Select Gender"
        [(ngModel)]="academicProfile.gender">
      </p-select>

      @for (field of academicFields; track field.id) {
        <div class="flex flex-row justify-between items-center space-y-1 space-x-3 w-full md:w-[50%]">
          <label class="text-sm font-medium">{{ field.label }}</label>

          @switch (field.type) {

            @case (fieldType.TEXT) {
              <input pInputText
                     [(ngModel)]="academicProfile.customAttributes[field.name]" />
            }

            @case (fieldType.NUMBER) {
              <p-inputNumber
                [(ngModel)]="academicProfile.customAttributes[field.name]">
              </p-inputNumber>
            }

            @case (fieldType.BOOLEAN) {
              <p-checkbox
                binary="true"
                class="ms-0"
                [(ngModel)]="academicProfile.customAttributes[field.name]">
              </p-checkbox>
            }

            @case (fieldType.DATE) {
              <p-datepicker
                [(ngModel)]="academicProfile.customAttributes[field.name]">
              </p-datepicker>
            }
          }
        </div>
      }
    </div>
  }
}
