<div class="min-h-screen">
    <!-- Loading -->
    <div *ngIf="loading" class="flex justify-center items-center h-64">
      <p-progressSpinner />
    </div>

    <!-- Profile Card -->
    <div *ngIf="!loading" class="bg-white rounded-2xl shadow-sm border border-gray-200 p-8">

      <!-- Header -->
      <div class="flex items-center justify-between mb-8">
        <div>
          <h1 class="text-2xl font-semibold text-gray-900">
            Teacher Profile
          </h1>
          <p class="text-sm text-gray-500">
            View and update teacher information
          </p>
        </div>

        <p-tag
          [value]="this.teacher.enabled ? 'Enabled' : 'Disabled'"
          [severity]="this.teacher.enabled ? 'success' : 'danger'"
        />
      </div>

      <!-- Form -->
      <form [formGroup]="form" class="grid grid-cols-1 md:grid-cols-2 gap-6">

        <!-- First Name -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">
            First Name
          </label>
          <input
            pInputText
            formControlName="firstName"
            class="w-full"
          />
        </div>

        <!-- Last Name -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">
            Last Name
          </label>
          <input
            pInputText
            formControlName="lastName"
            class="w-full"
          />
        </div>

        <!-- Email -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">
            Email
          </label>
          <input
            pInputText
            formControlName="email"
            class="w-full bg-gray-100"
          />
        </div>

        <!-- Phone -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">
            Phone Number
          </label>
          <input
            pInputText
            formControlName="phoneNumber"
            class="w-full"
          />
        </div>

        <!-- Status -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">
            Status
          </label>
          <p-select
            [options]="statusOptions"
            optionLabel="label"
            optionValue="value"
            formControlName="status"
            appendTo="body"
            class="w-full"
          />
        </div>


      </form>

      <!-- Actions -->
      <div class="flex justify-end mt-8">
        <p-button
          label="Save Changes"
          icon="pi pi-save"
          [loading]="submitting"
          (onClick)="update()"
        />
      </div>

    </div>
</div>
